hr,
img {
  border: 0;
  display: block;
}
img {
  max-width: 100%;
  margin: inherit;
}

figure {
  text-align: center;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 780px,
  xl: 840px,
) !default;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
